{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock title%}

{% block content %}

    <div class="container jumbotron w-50 mt-5">
        <h3 class="text-title text-center">about me</h3>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati 
             aspernatur modi eum perspiciatis eos! Excepturi cupiditate quae
             magnam modi quidem quas sed explicabo praesentium quam nemo ad, 
             optio expedita accusamus ipsum odit pariatur voluptates atque 
             possimus eos veritatis eaque iusto. Quisquam provident nesciunt
             explicabo tenetur, earum totam quod cumque rem
             aspernatur quae veniam eum dicta, temporibus, nobis neque quaerat 
             voluptatum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, 
             soluta quibusdam id eligendi non maxime obcaecati dignissimos voluptatum aliquid 
             deserunt reiciendis, velit cumque magnam nihil sint minus accusantium harum, totam 
             cum quas eaque. Sint itaque repellendus incidunt, optio deserunt recusandae ipsum 
             natus, est, a quam temporibus sequi! Voluptas, pariatur sequi.</p>
    </div>

{% endblock content %}